/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.map-satellite-section {
    position: relative;
    height: 220px; /* Adjust as needed */
    width: 900px;
}

.map-controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    z-index: 10;
}

.view-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.view-button.active {
    background-color: #0056b3;
}

.view-button:hover {
    background-color: #0056b3;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-view {
    width: 100%;
    height: 100%;
}

.satellite {
    width: 200px; /* Adjust size */
    height: 150px; /* Adjust size */
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.hidden {
    display: none;
}
